<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryzezhao.springcloud.mapper.TAccountMapper">
  <resultMap id="BaseResultMap" type="com.ryzezhao.springcloud.entities.TAccount">
    <!--@mbg.generated-->
    <!--@Table seata_account.t_account-->
    <id column="id" property="id" />
    <result column="total" property="total" />
    <result column="used" property="used" />
    <result column="residue" property="residue" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, total, used, residue, create_by, create_time, update_by, update_time
  </sql>
</mapper>